
.leaderboard-container{
    width: 300px;
    background-color: #f5eee2;
    padding-top: 5px;
    padding-bottom: 20px;
}

.leaderboard-container > h2 {
    background-color: #2BACE8;
    width: 170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.rank-container{
    height: 80%;
}
.individuals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.individuals-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
    text-align: center;
    color: black;
    
}