
.leaderboard-container{
    width: 50vh;
    height: 50vh;
    background-color: #F9F3E7;
}

.rank-container{
    height: 80%;
}
.individuals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px
}
.individuals-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
    text-align: center;
    color: black;
    
}