/* Font face for buttons */
@font-face {
    font-family: 'Street - Plain';
    src: url('../fonts/street__-webfont.woff') format('woff'),
         url('../fonts/street__-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Font face for StudyMates logo */
@font-face {
    font-family: 'Retosta Regular';
    src: url('../fonts/Retosta-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 350px;
    background-color: #A7272D;
    margin-right: 60px;
    border-right: 2.5px solid black;
}

.studyMates {
    font-size: 35px;
    text-align: center;
    font-weight: 200;
    color: #FFFAE7;
    padding-top: 25px;
    padding-bottom: 60px;
    border-bottom: 2px solid black;
    font-family: "Retosta Regular",sans-serif;
}

.link-nav {
    color: #FFFAE7;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 30px;
    padding-top: 30px;
    font-family: "Street - Plain",sans-serif;
    font-weight: 200;
}

.nav-icon {
    width: 20px; /* Adjust the width of the icon as needed */
    height: 15px;
    margin-right: 30px; /* Add space between the icon and the text */
  }

.first {
    padding-top: 40px;
    font-family: "Street - Plain",sans-serif;
}

.navlink-container {
    width: 93%;
    height: 100%;
    /* border-right: 2px solid black; */
}

.logout-button {
    font-family: "Street - Plain",sans-serif;
    margin-top: 440px;
}

