/* timer.css */
*{
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    place-items: top;
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    align-content: top;
}

.heading{
    color: #dcceb9;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-bottom: 25px;
}

.timer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.sub_timer{
    width: 110px;
    background: rgba(69,185,118,1);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    overflow: hidden;
}

.digit{
    color: #dcceb9;
    font-weight: lighter;
    font-size: 40px;
    padding: 0.2rem 0;
    letter-spacing: 2px;
    text-align: center;
}

.digit_name{
    color:#dcceb9;
    background: rgba(78,142,41,1);
    backdrop-filter: blur(20px);
    margin-bottom: 0%;
    padding: 0.2rem 0;
    font-size: 11px;
    font-weight: bolder;
    letter-spacing: 6px;
    text-align: center;
}
  
button {
    color:#dcceb9;
    background: transparent; /* Ensures the background is fully transparent */
    border: none; /* Removes the border */
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    outline: none; /* Removes focus outline */
    box-shadow: none; /* Ensures no shadow is applied */
}

.button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.sub_button{
    width: 60px;
    height: 30px;
    background: rgba(1,86,75,1);
    backdrop-filter: blur(100%);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

button:hover, button:focus {
    background: rgba(0, 0, 0, 0.1); /* Optional: adds a slight background on hover/focus for better interaction visibility */
    text-decoration: underline; /* Adds underline on hover/focus for interactivity */
}